/* App.css */

/* Style par défaut pour les grands écrans */
body {
  font-family: Arial, sans-serif;
}





/* Style pour les petits écrans */
@media screen and (max-width: 900px) {
  .main-content {
    width: 600px;
  }
@media screen and (max-width: 900px) {
  .container {
    width: 600px;
  }
}

  .ant-table {
    overflow-x: auto;
  }

  button {
    width: 100%; /* Boutons plus larges sur mobile */
  }
}

@media screen and (max-width: 900px){
  .header, .footer {
    height: auto;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    width: 600px;
    box-sizing: border-box;
  }
}
